<div class= "container">

  <h1>Editando datos de la mascota</h1>

  <%= render "form", pet: @pet %>

  <br>

  <div>
    <%= link_to "Atras", pets_path, class:"btn", id:"btn-click" %>
    <br>
  </div>
</div>
    