<p style="color: green"><%= notice %></p>

<h1 class= "text-center">Mascotas</h1>

<div id="pets">
  <% if current_user.pets.any? %>
    <% current_user.pets.each do |pet| %>
      <%= render pet %>
    <%= link_to 'ver mascota', pet %> 
    <% end %> 
  <% else %>
  <%= link_to "crear mascota", new_pet_path, class: "btn btn-primary" %>
<% end %>
</div>
