<div class="container">
 
  <h1>Mis Mascotas</h1>

  <div id="pets">
    <% @pets.each do |pet| %>
    <%= render pet %>
    <p>
      <%= link_to "Editar Mascota", pet, class:"btn", id:"btn-click" %>
    </p>
   <% end %>
 </div>

 <%= link_to "Crear Mascota", new_pet_path, class:"btn", id:"btn-click" %>
</div>
