<div class="container">
  <h1 class="text-center">Nueva Mascota</h1>

  <%= render "form", pet: @pet %>

  <br>
  <div>
    <%= link_to "Atras", pets_path,id:"btn-click", class: "btn rounded-pill text-white" %>
  </div>
</div>
