<%= render @pet %>
<div class="container">
  <div>
    <%= link_to "Editar Datos De Mascota", edit_pet_path(@pet), class:"btn", id:"btn-click" %> 
    <br>
    <br>
  
    <%= link_to "Atras", pets_path, class:"btn", id:"btn-click" %>
    <br>
    <br>
  
    <%= button_to "Eliminar Datos de Mascota", @pet, method: :delete, class:"btn", id:"btn-click" %>
    <br>
    <br>
  </div>
</div>







