<h1 id= "veterinary", class= "text-center">Veterinary Center</h1>

<div class= "container">
  <div class="card-group">
    <div class="card", id= "border-body">
      <%= image_tag "animalito.jpg", class:"container-fluid card-img-top", alt:"..." %>
      <div class="card-body">
         <h5 class="card-title">Radiografias</h5>
         <p class="card-text">Ultima tecnologia en radiologia para tu mascota</p>
      </div>
    </div>

    <div class="card", id= "border-body">
      <%= image_tag "granjita.jpeg", class:"container-fluid card-img-top", alt:"..." %>
      <div class="card-body">
        <h5 class="card-title">Examenes</h5>
        <p class="card-text">Los examanes que ellos necesiten...</p>
      </div>
    </div>

    

    <div class="card", id= "border-body">
      <%= image_tag "animalitos.jpg", class:"container-fluid card-img-top", alt:"..." %>
        <div class="card-body">
          <h5 class="card-title">Pet Store</h5>
          <p class="card-text">Articulos, juguetes, alimentos, etc</p>
        </div>
    </div>
  </div>
</div>
