body {
    background-color: rgba(148, 159, 159, 0.808);
}

.img-frontpage {
    width: 800px;
    height: 500px;
}

.card-img-top {
    width: 300px;
    height: 200px;
    padding-top: 19px;
}

#veterinary {
    color: rgba(214, 9, 160, 0.682);
}

#border-body {
    border: rgba(214, 9, 160, 0.682) 5px solid ;
    margin-right: 14px;
    border-radius: 3%;
}

#bg-footer {
   background-color: hsl(240, 92%, 24%);
   margin-top: 40px;
}

#bg-navbar {
    background-color: hsl(240, 92%, 24%);
}

#text-navbar {
    color: white;
    padding-right: 43px;
   
}

#anchor {
    text-decoration: none;
    margin-left: 22px;
}

#btn-click {
    background-color: rgb(247, 113, 209);
}

.text {
    color: white;
}

